/* VARIABLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  user-select: none;
}
nav li {
  outline: 0;
}
nav li a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg, #d1b5ad, #f7dada);
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 75px;
  overflow: hidden;
  background: rgba(111, 87, 84, 0.5);
  transition: width 0.05s linear;
  z-index: 10;
  padding-top: 15px;
}
.site-header li {
  position: relative;
  display: block;
  width: 180px;
  font-family: beloved-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.site-header li:hover {
  text-decoration: none;
  background-color: rgb(247, 218, 218);
}
.site-header li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(111, 87, 84);
  font-size: 1rem;
  transition: all 0.1s linear;
  padding: 15px 0;
}
.site-header li a:hover {
  color: rgb(111, 87, 84);
}
.site-header:hover {
  width: 180px;
  overflow: visible;
}

.nav-icon {
  width: 75px;
  height: 25px;
  font-size: 30px;
  text-align: center;
}

.nav-text {
  width: 100px;
  height: 25px;
}

.active {
  color: rgb(111, 87, 84);
  background-color: rgb(247, 218, 218);
}

.projects {
  position: relative;
  display: block;
  justify-content: center;
}
.projects .section-title {
  display: flex;
  justify-content: center;
}
.projects .work {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 25px;
}
.projects .card {
  position: relative;
  width: 400px;
  height: 400px;
  background: #ccc;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.projects .card .poster {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.projects .card .poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.projects .card .details {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 75%;
  padding: 1.5em 1.5em 2em;
  background: rgba(247, 218, 218, 0.9);
  transition: 0.3s;
  color: rgb(111, 87, 84);
  z-index: 2;
}
.projects .card .details h1,
.projects .card .details h2 {
  color: #443e44;
  text-transform: uppercase;
  font-family: helvetica;
}
.projects .card .details h1 {
  font-size: 2em;
}
.projects .card .details h2 {
  font-size: 1em;
}
.projects .card .details .desciption {
  color: rgb(111, 87, 84);
  opacity: 0.8;
  line-height: 1.5;
  margin-bottom: 1em;
}
.projects .card .details .tags {
  display: flex;
  gap: 0.375em;
  margin-bottom: 0.875em;
  font-size: 0.85em;
  font-family: new-order, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.5em;
}
.projects .card .details .tags span {
  padding: 0.5rem 1rem;
  color: rgb(111, 87, 84);
  background: rgb(209, 181, 173);
  border: 1.5px solid rgb(111, 87, 84);
  border-radius: 4px;
  border-radius: 50px;
}

.poster::before {
  content: "";
  position: absolute;
  bottom: -45%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s;
}

.card:hover .details {
  bottom: 0;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hero .about {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1,
h2 {
  font-family: "Lucida Sans", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(3em, 15vw, 15em);
  color: rgba(111, 87, 84, 0.5);
}

h2 {
  font-size: clamp(1em, 10vw, 10em);
  color: rgb(111, 87, 84);
}

p {
  width: 25vw;
}

.site-footer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 75px;
  overflow: hidden;
  background: rgba(111, 87, 84, 0.5);
  transition: width 0.05s linear;
  z-index: 10;
}
.site-footer:hover {
  width: 200px;
}

.site-main {
  padding: 0 95px;
}