/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
    #SUB PAGES
    #CUSTOM SITE CSS
--------------------------------- */

/* #TYPOGRAPHY */

/* Reference
	62.5%  => 10px
	68.8%  => 11px
	75%    => 12px
	81.3%  => 13px
	87.5%  => 14px
	100%   => 16px
	112.5% => 18px
	125%   => 20px
*/

/* GLOBAL COLORS */
body {
    background: rgb(155, 138, 118);
    color: white;
}

/* TYPOGRAPHY */
body {
    font-family: bilo,sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
}

/* HEADINGS */

h1 {
    font-family: urw-antiqua, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3em;
    line-height: 1;
    text-transform: uppercase;
}

h2 {
    font-family: bilo,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    text-transform: uppercase;
}

/* LINKS */

a {
    text-decoration: none;
}

/* #IMAGES */

img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */

button,
a.button,
form input[type="submit"] {
    display: inline-block;
    background-color: rgba(167, 141, 127);
    border: 3px solid white;
    color: rgb(255, 255, 255);
    padding: 0.75em 1em;
    border-radius: 0.32em;
    margin: .5em .5em .5em 0;
    border: none;
    cursor: pointer;
    line-height: 1;
}

button:hover,
a.button:hover,
form input[type="submit"]:hover {
    background-color: rgb(89, 69, 54);
    color: white;
    border-color: rgb(255, 209, 226);
    text-decoration: none;
}

/* LAYOUT */

* {
    box-sizing: border-box;
}

/* SIMPLE RESET */

body {
    margin: 0;
}

/* CONTAINER */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}

/* GRID */

.row > .column {
    margin-bottom: 2%;
}

.row {
    margin-left: -1%;
    margin-right: -1%;
    display: flex;
    justify-content: center;
}
.row.swapped {
    flex-direction: row-reverse;
}
.row.centered {
    margin-left: auto;
    margin-right: auto;
}

.row > .column {
    margin: 0 1% 2% 1%;
    flex-grow: 1;
}

.row > .column.one-fourth {
    max-width: 23%;
}

/* SITE NAV */

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.site-nav a {
    display: block;
    padding: 1em;
}

.site-nav .menu-button {
    display: none;
}