/* SITE STRUCTURE */
.site-header {
		position: absolute;
		width: 100%;
		padding: 1em;
		display: flex;
		justify-content: space-between;
		align-items: left;
}
.site-header .site-id {
		display: flex;
		align-items: center;
}
.site-header a {
		color: white;
		text-decoration: none;
}
.site-header h1 {
		font-size: 1.5em;
		margin: 0;
}

/* SITE-FOOTER */
.site-footer {
		background: rgb(80, 54, 42);
		display: flex;
		padding: 1em;
		justify-content: center;
}
.site-footer a {
		color: white;
		text-decoration: none;
}

section {
		padding: 4em 0;
		min-height: 100vh;
		display: flex;
		align-items: center;
}

/* HERO SECTION */
.hero {
		background-image: url("../img/KawaiiCaps_Hero.jpg");
		background-position: center;
		background-size: cover;
		text-align: left;
		min-height: 100vh;
		display: flex;
}
.hero .container {
		margin: 15em;
}
.hero h1 {
		margin-bottom: 0.25em;
		color: rgb(80, 54, 42);
}
.hero p {
		margin: 1em auto;
}

/* SECTION HEADING */
.section-heading {
		font-size: 1em;
		font-family: input-serif-condensed, serif;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		border-bottom: 5px solid rgb(250, 220, 167);
		display: table;
		padding: 0 0 0.5em 0;
		margin: 1em auto 3em auto;
}

.site-main {
		display: flex;
		flex-direction: column;
}

/* FEATURED PRODUCTS */
.featured {
		text-align: center;
		background: rgb(252, 228, 208);
		background: linear-gradient(180deg, rgb(254, 218, 196) 0%, rgb(0, 0, 0) 100%);
}
.featured img {
		margin: 25px;
		border-radius: 25px;
		transition: all 0.2s ease-in;
}
.featured img:hover {
		transform: scale(1.5);
}

/* ABOUT US */
.aboutus {
		background-image: url("../img/KawaiiCaps_Hero3.jpg");
		background-position: center;
		background-size: cover;
		font-family: input-serif-condensed, serif;
		color: rgb(80, 54, 42);
		text-align: left;
		min-height: 100vh;
		display: flex;
}

/* PRODUCTS */
.products {
		background: rgb(255, 245, 228);
}

.product-cards {
		display: flex;
		justify-content: space-between;
		list-style: none;
}
.product-cards img {
		margin: 25px;
		border-radius: 25px;
		transition: all 0.2s ease-in;
}
.product-cards img:hover {
		transform: scale(1.5);
}

/* FOOTER */
.site-footer {
		color: white;
		display: flex;
		flex-direction: column;
}
.site-footer h2 {
		color: rgb(250, 220, 167);
}