/* VARIABLES */
html {
    --color-body: #efefef;
    --space-unit: 1em;
}

/* GLOBALS */

body {
    background-color: var(--color-body);
    margin: 0;
}

/* GLOBAL MEDIA */

img {
    max-width: 100%;
    height: auto;
}

/* SITE HEADER */

.site-header {
    display: flex;
    justify-content: space-between;
}

/* LOGO */

.site-logo {
    padding: var(--space-unit);
}

.site-nav ul,
.site-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav ul {
    display: flex;
}

.site-nav a {
    display: block;
    padding: var(--space-unit);
}

/* HERO */

.hero {
    padding: var(--space-unit);
    display: grid;
    min-height: 50vh;
    justify-content: center;
    align-content: center;
}

.hero h1 {
    font-size: 12vw;
    margin-bottom: 0;
}

.hero p {
    font-size: 5vw;
}

/* PROJECT LIST */

.project-list,
.project-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.project-list {
    padding: var(--space-unit);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 8em;
}

.project-list li:nth-child(1) {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.project-list li:nth-child(2) {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 5;
}

.project-list li:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
}

/* FOOTER */

.site-footer {
    background-color: #ccc;
    padding: 3em var(--space-unit);
}